<div class="jumbotron text-center">
    <h1 class="center logo"><img src="../assets/logo_hp.png" alt="Wanderlust" width="20%"></img></h1>
    <p class="center color"> Your next adventure is just a budget away</p>
</div>

<div class="text-center ">
<%= bootstrap_form_for(@user, layout: :inline) do |f| %>
  <%= f.email_field :email, hide_label: true, placeholder: "email"%>
  <%= f.password_field :password, hide_label: true, placeholder: "password" %>
  <%= f.submit "Log In", class: "btn btn-success"%>
<% end %>
</div>
