<br>
<br>

<%if logged_in? %>
  <a href="/users/<%=@flight_data.id%>/savetrip">Save trip<a>
<%end%><br>

<div class="container">
    <div class="row">
            <% @attractions.each do |attraction| %>
              <div class="col-md-4" style="min-height: 300px;">
                <div class="media">
                  <%attraction.photos.each do |photo| %>
                    <div class="media-left">
                      <img class="media-object" src=<%=photo ="https://maps.googleapis.com/maps/api/place/photo?maxwidth=#{photo.width}&photoreference=#{photo.photo_reference}&key=AIzaSyC6QVsR2_7tYbCiMCIWqEwg_6_EV6XHBIE"%> alt="..." width="150px" height"1580px">
                    </div>
                  <%end%>

                  <div class="media-body">
                    <h4 class="media-heading"><%= attraction.name %></h4>
                    <%= attraction.formatted_address %>
                  </div>
                </div>
              </div>
            <% end %>
    </div>
</div>
