// Place all the styles related to the trip controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-image: image-url('background.jpg');
  background-size: 100% 100%
}
